body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Arial, Helvetica;
    overflow-x: hidden;
}

.border {
    background: var(--secondary-color);
    border-radius: 50%;
    width: 90px;
    height: 85px;
}

:root {
    --primary-color: #50c878;
    --secondary-color: #000080;
}

.color-1-text {
    color: var(--primary-color);
}

.color-1 {
    background-color: var(--primary-color);
}

.color-2 {
    color: var(--secondary-color);
}

.color-2-bg {
    background-color: var(--secondary-color);
}

.image-radius {
    border-radius: 50%;
    width: 50px;
}